.jumbotron {
	padding: 1.5em !important;
}

.jumbotron h2 {
	text-align: center;
	margin-top: 0;
	padding-bottom: 0.5em;
	color: #5cb85c;
}

.jumbotron p {
	margin: 0;
	color: #02613F;
}

.center {
	text-align: center;
}

.panel {
	margin-top: 1em;
}

h4 a, p a, .articleSeriesLink {
	color: #5cb85c;
	text-decoration: underline;
	transition: 0.5s linear;
}

.articleSeries {
	color: #5cb85c;
}

h4 a:hover, p a:hover{
	color: #02613F;
}

p > em {
	font-size: 0.8em;
}